<div class="Login-page_container">
    <p class="Text">Please, provide some information to improve your experience and access all books and movies</p>

    <form class="Form-login" [formGroup]="form" (ngSubmit)="submit()">
        <div class="Form-login_control" [ngClass]="{invalid: form.get('email')?.touched && form.get('email')?.invalid}">
            <label for="email">Email:</label>
            <br>
            <input id="email" type="email" formControlName="email">
            <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                <small *ngIf="form.get('email')?.errors?.['required']">Email is required!</small>
                <small *ngIf="form.get('email')?.errors?.['email']">Write correct email, please</small>
            </div>
        </div>

        <div class="Form-login_control" [ngClass]="{invalid: form.get('name')?.touched && form.get('name')?.invalid}">
            <label for="name">Name:</label>
            <br>
            <input id="name" formControlName="name">
            <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
                <small *ngIf="form.get('name')?.errors?.['required']">Name is required!</small>
            </div>
        </div>

        <button class="Button Button-log Submit" [disabled]="form.invalid" (click)="submit()">SUBMIT</button>
        <button class="Button Button-log Submit" (click)="submit()">LOG IN WITHOUT INFO</button>
    </form>
</div>


