.Home
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 26px
    padding: 60px 0px

.Text
    color: #48494B
    display: block
    font-size: 24px
    padding: 2px 0px

    &_container 
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
            
