<nav class="Nav-bar">
    
    <div class="Nav-bar_info">
        <img class='Nav-bar_icon' src="https://cdn.iconscout.com/icon/free/png-256/free-lamp-2021445-1709384.png" [routerLink]="['/']">


        <div *ngIf="userService.isLogged()">
            <div class="Nav-bar_info_breadcrumbs">
                <a [routerLink]="['/home']">HOME</a>

                <ng-container *ngFor="let route of currentRouteUrlArray">
                    <img class="Nav-bar_info_breadcrumbs_arrow" src="/assets/arrow.svg">
                    <a routerLinkActive="Active"
                       [routerLinkActiveOptions]="{exact: true}"
                       [routerLink]="getClickedRoute(route)">{{route | changeBookIndexToName:isBooksOrShelves | titlecase}}</a>
                </ng-container>
            </div>
            <p class="Nav-bar_info_current-page">{{currentPage| changeBookIndexToName:isBooksOrShelves | uppercase}}</p>
        </div>
    </div>

    <div class="Nav-bar_buttons">
        <button *ngIf="currentPage !== 'Home'" class="Button Button-goBack" [routerLink]="['/']">BACK HOME</button>
        <button *ngIf="userService.isLogged()" class="Button Button-goBack" (click)="logout()">LOGOUT</button>
    </div>
</nav>
